doctype html
html
  head
    title Timestamp Microservice
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container
      h1 API Basejump: Timestamp Microservice
      blockquote
        p User Stories:
        ol
          li I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: November 10, 2016).
          li If it does, it returns both the Unix timestamp and the natural language form of that date.
          li If it does not contain a date or Unix timestamp, it returns null for those properties.

      h2 Example Usage:
      code https://jasil1414-timestamp.herokuapp.com/November%2010,%202016
      br
      code https://jasil1414-timestamp.herokuapp.com/1450137600
      br
      h2 Example Output:
      code { "unix": 1450137600, "natural": "December 15, 2015" }
